extends layout

block content
    h1= title
    p Welcome to #{title}
    p Rest api server located at http://localhost:3000/blogs
    p available next comands:
    p GET http://localhost:3000/blogs
    p GET http://localhost:3000/blogs/{id_post}
    p POST http://localhost:3000/blogs
    p PUT http://localhost:3000/blogs/{id_post}
    p DELETE http://localhost:3000/blogs/{id_post}
    p where id_post is identificator of each post.
