<h2>List of articles</h2>
<input type="text" placeholder="how old todo to show in days" ng-model="filterDays" />
<span ng-if="list.length === 0">You have no articles!</span>

<ul ng-repeat="article in list | filter : filterDate">
    <li>
        title : {{ article.title }} </br>
        text : {{ article.text }} </br>
        created at : {{article.date | date: "yyyy-MM-dd HH:mm"}} </br>
        <a href="#!edit\{{$index}}">Edit</a> <input type="button" value="delete" ng-click="removeArticle(article)" />
    </li>
</ul>

<input type="button" ng-click="loadData()" value="get task from json file"/>