<h2>List of articles</h2>
<input type="text" placeholder="how old todo to show in days" ng-model="filterDays" />
<span ng-if="list.length === 0">You have no articles!</span>
<ul ng-repeat="article in list | filter : filterDate | startFrom: articlesPerPage* currentPage | limitTo: articlesPerPage ">
    <li>
        title : {{ article.title }} </br>
        text : {{ article.text }} </br>
        created at : {{article.date | date: "yyyy-MM-dd HH:mm"}} </br>
        <a href="#!edit\{{$index}}">Edit</a> <input type="button" value="delete" ng-click="removeArticle(article)" />
    </li>
</ul>
<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
    Previous
</button>
{{currentPage+1}}/{{numberOfPages()}}
<button ng-disabled="currentPage >= list.length/articlesPerPage - 1" ng-click="currentPage=currentPage+1">
    Next
</button>

<input type="button" ng-click="loadData()" value="get task from json file"/>