<form name="articleForm">
    <input type="text" placeholder="Title" name="formTitle" ng-model="formTitle" required ng-minlength="3"/>
    <p ng-show="articleForm.formTitle.$error.minlength" class="help-block">Title is too short.</p>
    <input type="text" placeholder="Text" name="formText" ng-model="formText" required ng-minlength="3"/>
    <p ng-show="articleForm.formText.$error.minlength" class="help-block">Text is too short.</p>
    <input type="submit" value="{{formType}}" ng-click="save()" />
    </br>
</form>
